 nav ul {
    list-style-type: none;
    background-color: blue;  
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
nav li {
    float: left;

  }
  
nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    display: block;
  }

nav li a:hover {
    background-color: darkblue;
  }

  footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: auto;
}

